.programme-meta {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
	max-width: 100%;
	text-align: left;
	margin-top: 1em;

	.years, .countries, .studies {
		flex: 0 0 50%;
		color: #716d6d;
		padding-bottom: 0.8em;
		margin: 0 1em 0 0;

		&.countries {
			flex: 0 0 20%;
			text-align: left;
		}

		&.studies {
			flex: 0 0 20%;
			text-align: left;
		}
	}
}
