.programme-meta {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
	margin-bottom: 0em;
	color: #716d6d;

	.years, .countries, .studies {
		flex: 0 0 33%;
		padding-bottom: 0.4em;
		margin-bottom: 0;

		&.years {
			flex: 0 0 45%;
		}
	}
}
