#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: left;
	color: #000000;
}

// Global Typography
h1 {
	font-size: 1.8em;
	font-weight: 700;
}

h2 {
	font-size: 1.6em;
	font-weight: 600;
}

h3 {
	font-size: 1.4em;
	font-weight: 500;
}

h4 {
	font-size: 1.2em;
}

// CSS Grid structure

.header {
	grid-column: span 12;
	background: #FAFAFA;
	padding: 1em 0 0.1em 0;
	margin-bottom: 1em;
	text-align: center;

	.header-content {
		width: 65vw;
		margin: auto;
		text-align: left;

		p {
			color: #716d6d;
			font-size: 0.8em;
		}
	}
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 40px 100px 40px;

	.menu {
		grid-column: span 4;
		grid-row: span 12;
		padding: 2em;
		padding-right: 3em;
		margin-left: 10vw;
		text-align: right;

		.menu-links {
			padding-right: 3em;

			a {
				display: block;
				color: #000000;
				margin-bottom: 1.6em;
			}

			a:hover {
				text-decoration: none !important;
			}

			.router-link-exact-active {
				font-weight: 500;
				text-decoration: underline #5BE6C8;
			}
		}
	}

	.content {
		grid-column: span 8;
		grid-row: span 12;
		padding: 2em;
		margin-right: 10vw;
	}

	.footer {
		grid-column: span 12;
		background: #FAFAFA;
		padding: 1em;
	}
}

// Box elements for content
.box {
	background-color: #FAFAFA;
	border: 1px solid #F0F0F0;
	text-align: left;
	margin-bottom: 2em;
	margin-top: 2em;
	padding: 1em;
}
